<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <%= link_to "Bryan Tran", root_path, class: 'navbar-brand' %>
    <%= nav_helper 'nav-link', 'span' %>
    <%= login_helper 'nav-link' %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= nav_helper 'nav-link', 'li' %>  
        <%= login_helper 'nav-link' %>  
      </ul>
    </div>
  </div>
</nav>